@model List<Teacher>

<div class="container mt-4">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="text-primary">Teachers List</h2>

        <a class="btn btn-success" asp-area="" asp-controller="Teacher" asp-action="Creat">
            <i class="bi bi-plus-circle"></i> Add New Teacher
        </a>
    </div>

    <div class="card shadow-sm">
        <div class="card-body">

            <table class="table table-striped table-hover text-center">
                <thead class="table-dark">
                    <tr>
                        <th>Teacher Name</th>
                        <th>Teacher Age</th>
                        <th>Delete</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (Teacher std in Model)
                    {
                        <tr>
                            <td>@std.TeacherName</td>
                            <td>@std.TeacherAge</td>
                            <td>
                                <a href="/Teacher/Delete/@std.TeacherId" class="btn btn-danger btn-sm">
                                    Delete Teacher
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>

        </div>
    </div>

</div>
